In [113]:
import pandas as pd
import numpy as np
import wikipedia as wiki
import requests
from bs4 import BeautifulSoup
import re

In [114]:
df = pd.read_csv("wiki-actors.csv")

In [115]:
del df['Position']
df.head()

,Name,Birth Date,Current Age,Age at divorce,Duration of marriage,Age gaps,Number of marraiges,Net Worth,Residence,Children,Gender,Extra - Accolades,Extra - type of entertainment,E - Education,E - Children within marriages,E- Genre
0,Johnny Depp,6/9/63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arnold Schwarzenegger,7/30/47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jim Carrey,1/17/62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Emma Watson,4/15/90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Daniel Radcliffe,7/23/89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
def get_age(Name): 
    url = wikipedia.page(Name).url
    if not url:
        return -10
    actor_url = requests.get(url).text
    soup = BeautifulSoup(actor_url,'lxml')
    actor_table = soup.find("table",{"class":"infobox biography vcard"})
    
    if not actor_table:
        return -10
    
    age = actor_table.find("span",{"class":"noprint ForceAgeToShow"}).text
    age = age.replace(u'\xa0', u' ').replace(' (age ', "").replace(")","")
    return int(age)

In [117]:
for name in df['Name']:
    print(get_age(name))

55
-10
56
28
29
43
56
54

AttributeError: 'NoneType' object has no attribute 'text'

In [118]:
actor_url = requests.get('https://en.wikipedia.org/wiki/Arnold_Schwarzenegger').text
actor_table = soup.find("table",{"class":"infobox biography vcard"})
age = actor_table.find("span",{"class":"noprint ForceAgeToShow"})
actor_table
#age = age.replace(u'\xa0', u' ').replace(' (age ', "").replace(")","")
#int(age)
# url

<table class="infobox biography vcard" style="width:22em"><tbody><tr><th colspan="2" style="text-align:center;font-size:125%;font-weight:bold"><span class="fn">Johnny Depp</span></th></tr><tr><td colspan="2" style="text-align:center">
<a class="image" href="/wiki/File:Johnny_Depp_Alice_Through_the_Looking_Glass_premiere.jpg"><img alt="Johnny Depp Alice Through the Looking Glass premiere.jpg" data-file-height="2143" data-file-width="1661" height="284" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Johnny_Depp_Alice_Through_the_Looking_Glass_premiere.jpg/220px-Johnny_Depp_Alice_Through_the_Looking_Glass_premiere.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Johnny_Depp_Alice_Through_the_Looking_Glass_premiere.jpg/330px-Johnny_Depp_Alice_Through_the_Looking_Glass_premiere.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Johnny_Depp_Alice_Through_the_Looking_Glass_premiere.jpg/440px-Johnny_Depp_Alice_Through_the_Looking_Glass_premiere.jpg 2x" width="220"/></a><div>Depp at the <i><a href="/wiki/Alice_Through_the_Looking_Glass_(2016_film)" title="Alice Through the Looking Glass (2016 film)">Alice Through the Looking Glass</a></i> premiere in July 2016</div></td></tr><tr><th scope="row">Born</th><td>
<span class="nickname">John Christopher Depp II</span><br/><span style="display:none"> (<span class="bday">1963-06-09</span>) </span>June 9, 1963<span class="noprint ForceAgeToShow"> (age 55)</span><br/><span class="birthplace"><a href="/wiki/Owensboro,_Kentucky" title="Owensboro, Kentucky">Owensboro, Kentucky</a>, U.S.</span></td></tr><tr><th scope="row">Residence</th><td class="label">
<a href="/wiki/Los_Angeles" title="Los Angeles">Los Angeles</a>, <a href="/wiki/California" title="California">California</a>, U.S.</td></tr><tr><th scope="row">Occupation</th><td class="role">
<a href="/wiki/Actor" title="Actor">Actor</a>, <a href="/wiki/Film_producer" title="Film producer">producer</a>, <a href="/wiki/Musician" title="Musician">musician</a></td></tr><tr><th scope="row">Years active</th><td>
1984–present</td></tr><tr><th scope="row"><span class="nowrap">Spouse(s)</span></th><td>
<div style="position:relative;display:inline-block;line-height:normal;">Lori Allison<br/>(<abbr title="married">m.</abbr> 1983; <abbr title="divorced">div.</abbr> 1985)</div><br/><div style="position:relative;display:inline-block;line-height:normal;"><a href="/wiki/Amber_Heard" title="Amber Heard">Amber Heard</a><br/>(<abbr title="married">m.</abbr> 2015; <abbr title="divorced">div.</abbr> 2017)</div></td></tr><tr><th scope="row"><span class="nowrap">Partner(s)</span></th><td>
<a href="/wiki/Vanessa_Paradis" title="Vanessa Paradis">Vanessa Paradis</a> (1998–2012)</td></tr><tr><th scope="row">Children</th><td>
2, including <a href="/wiki/Lily-Rose_Depp" title="Lily-Rose Depp">Lily-Rose Depp</a></td></tr><tr><td colspan="2" style="text-align:center">
<b>Musical career</b></td></tr><tr><th scope="row">Genres</th><td>
<a href="/wiki/Rock_music" title="Rock music">Rock</a></td></tr><tr><th scope="row">Instruments</th><td class="note">
<div class="hlist">
<ul><li><a href="/wiki/Guitar" title="Guitar">Guitar</a></li></ul>
</div></td></tr><tr><th scope="row"><span class="nowrap">Associated acts</span></th><td>
<div class="hlist">
<ul><li><a href="/wiki/Rock_City_Angels" title="Rock City Angels">Rock City Angels</a></li>
<li><a href="/wiki/P_(band)" title="P (band)">P</a></li>
<li><a href="/wiki/Hollywood_Vampires_(band)" title="Hollywood Vampires (band)">Hollywood Vampires</a></li></ul>
</div></td></tr><tr><td colspan="2"></td></tr></tbody></table>