In [3]:
import pandas as pd
import numpy as np
import wikipedia as wiki
import requests
from bs4 import BeautifulSoup
import re

In [4]:
df = pd.read_csv("wiki-actors.csv")

In [5]:
del df['Position']
df.head()

,Name,Birth Date,Current Age,Age at divorce,Duration of marriage,Age gaps,Number of marraiges,Net Worth,Residence,Children,Gender,Extra - Accolades,Extra - type of entertainment,E - Education,E - Children within marriages,E- Genre
0,Johnny Depp,6/9/63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arnold Schwarzenegger,7/30/47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jim Carrey,1/17/62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Emma Watson,4/15/90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Daniel Radcliffe,7/23/89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def get_age(Name): 
    url = wiki.page(Name).url
    
    if not url:
        return Name + " url not found"
    
    actor_url = requests.get(url).text
    soup = BeautifulSoup(actor_url,'lxml')
    actor_table = soup.find("table",{"class":"infobox biography vcard"})
    
    if not actor_table:
        actor_table = soup.find("table",{"class":"infobox vcard"})
        if not actor_table:
            return Name + " not in infobox vcard"
    
    # Check is person has died (age will be in the "Died" section)
    p = re.compile("Died")
    match = p.search(actor_table.text)
    
    if match == None:
        age = actor_table.find("span",{"class":"noprint ForceAgeToShow"}).text
        age = age.replace(u'\xa0', u' ').replace(' (age ', "").replace(")","")
    else:       
        # age_match = re.search('(?<=;)\w+', 'aged&nbsp;88')
        # age_match = re.search('(?<= )\w+', 'aged 88')
        # age = age_match.group(0)
        
        td = soup.find(text='Died').findNext('td').text
        aged = td.replace(u'\xa0', u' ').replace(' (age ', "").replace(")","")
        match = re.compile("[0-9][0-9][a-zA-Z]").search(aged).group(0)
        # print(aged)
        age = match[:2]
    
    return int(age)

In [9]:
for name in df['Name']:
    print(get_age(name))

55
71
56
28
29
43
56
54
81
62
50
48
72
50
88
46
57
71
76
75
78
53
54
66
43
47
37
65
88
41
46
Jackie Channot in infobox vcard
43
52
33
28
35
37
49
33
43
51
51
54
50
54
79
52
63
69
52
72
58
63
56
32
32
40
62
51
65
63
59
40
42
58
49
49
44
57
54
Bruce Leenot in infobox vcard
43
38
81
68
69
37
64
51
55
45
63
80
64
38
46
53
49
30
35
39
64
76
49
39
37
53
67